/* Header */
.header-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

@media (min-width: 480px) {
  .header-container {
    width: 70%;
  }
}

/* About me section */
.about-me-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-title {
  margin-bottom: 1.5rem;
}

.about-me-subtitle1 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.about-me-subtitle2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (min-width: 480px) {
  .about-me {
    align-items: flex-start;
    flex-direction: row;
  }
}

.about-me .about-me-image {
  width: 85%;
}

@media (min-width: 480px) {
  .about-me .about-me-image {
    width: 100%;
    flex-grow: 1;
  }
  .about-me .about-me-image img {
    width: 80%;
    margin: 0 auto;
  }
}

.about-me .about-me-description {
  width: 85%;
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .about-me .about-me-description {
    width: 100%;
    flex-grow: 1;
    padding: 0 6rem 0 2rem;
    margin-top: 0rem;
  }
}

/* Benefits section */
.benefits-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 480px) {
  .benefits {
    align-items: flex-start;
    flex-direction: row;
  }
}

.benefits .benefits-image {
  width: 85%;
}

@media (min-width: 480px) {
  .benefits .benefits-image {
    width: 100%;
    flex-grow: 1;
  }
  .benefits .benefits-image img {
    width: 80%;
    margin: 0 auto;
  }
}

.benefits .benefits-description {
  width: 85%;
  margin-top: 1rem;
}

.benefits-title {
  margin-bottom: 1.5rem;
}

.benefits .benefits-description ol {
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .benefits .benefits-description {
    width: 100%;
    flex-grow: 1;
    padding: 0 6rem 0 2rem;
    margin-top: 0rem;
  }
  .benefits .benefits-description ol {
    margin-top: 0;
  }
}

/* Evaluation section */
.evaluation-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.evaluation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.evaluation-title {
  margin-bottom: 1.5rem;
}

@media (min-width: 480px) {
  .evaluation {
    align-items: flex-start;
    flex-direction: row;
  }
}

.evaluation .evaluation-image {
  width: 85%;
}

@media (min-width: 480px) {
  .evaluation .evaluation-image {
    width: 100%;
    flex-grow: 1;
  }
  .evaluation .evaluation-image img {
    width: 80%;
    margin: 0 auto;
  }
}

.evaluation .evaluation-description {
  width: 85%;
  margin-top: 1rem;
}

.evaluation .evaluation-description ol {
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .evaluation .evaluation-description {
    width: 100%;
    flex-grow: 1;
    padding: 0 6rem 0 2rem;
    margin-top: 0rem;
  }
  .evaluation .evaluation-description ol {
    margin-top: 0;
  }
}

/* Book-appointment section */
.book-appointment-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.book-appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-appointment-title {
  margin-bottom: 1.5rem;
}

@media (min-width: 480px) {
  .book-appointment {
    align-items: flex-start;
    flex-direction: row;
  }
}

.book-appointment .book-appointment-image {
  width: 85%;
}

@media (min-width: 480px) {
  .book-appointment .book-appointment-image {
    width: 100%;
    flex-grow: 1;
  }
  .book-appointment .book-appointment-image img {
    width: 80%;
    margin: 0 auto;
  }
}

.book-appointment .book-appointment-description {
  width: 85%;
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .book-appointment .book-appointment-description {
    width: 100%;
    flex-grow: 1;
    padding: 0 6rem 0 2rem;
    margin-top: 0rem;
  }
}

/* Schedule section */
.schedule-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-title {
  margin-bottom: 2rem;
}

@media (min-width: 480px) {
  .schedule {
    align-items: flex-start;
    flex-direction: row;
  }
}

.schedule .schedule-image {
  width: 85%;
}

@media (min-width: 480px) {
  .schedule .schedule-image {
    width: 100%;
    flex-grow: 1;
  }
  .schedule .schedule-image img {
    width: 80%;
    margin: 0 auto;
  }
}

.schedule .schedule-description {
  width: 85%;
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .schedule .schedule-description {
    width: 100%;
    flex-grow: 1;
    padding: 0 6rem 0 2rem;
    margin-top: 0rem;
  }
}

.schedule-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.schedule-flex .schedule-information {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .schedule-flex .schedule-information {
    justify-content: flex-start;
  }
}

.schedule-flex .schedule-information .schedule-information-week-day {
  padding-left: 0.5rem;
  width: 10rem;
  background: #ffffff;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

@media (min-width: 1024px) {
  .schedule-flex .schedule-information .schedule-information-week-day {
    width: 30%;
    color: #000000;
  }
}
.schedule-flex .schedule-information .schedule-information-time {
  padding-left: 0.5rem;
  width: 14.5rem;
  background: #ffffff;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
@media (min-width: 1024px) {
  .schedule-flex .schedule-information .schedule-information-time {
    width: 50%;
  }
}

.last-option {
  border-bottom: 1px solid #000000;
}

/* FAQ Section */
.accordion-button:not(.collapsed) {
  color: white;
  background-color: #8a816d;
}

.accordion-button {
  font-size: 1.8rem;
}

/* Contact Section */
.whatsapp-icon i {
  transition: all 0.3s ease;
}

.whatsapp-icon i:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* Footer Section */
.footer-image {
  width: 10%;
}

@media (min-width: 320px) {
  .footer-image {
    width: 20%;
  }
}

@media (min-width: 375px) {
  .footer-image {
    width: 20%;
  }
}

@media (min-width: 760px) {
  .footer-image {
    width: 15%;
  }
}
